@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-950 text-brand-100;
  }

  a {
    @apply text-nex-link;
  }

  a:hover {
    @apply text-brand-300;
  }

  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-brand-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-brand-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-600;
  }
}
